%kebabMenuBtn {
  position: relative;

  .kebab-menu-btn {
    min-width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-left: 20px;
    border: 1px solid #d2e1f5;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }

    &.active {
      background: #173236;

      svg {
        path {
          fill: #29f499;
        }
      }
    }
  }

  .pop-up {
    position: absolute;
    width: 160px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 10px 40px 0px rgba(23, 50, 54, 0.15);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 10;
    gap: 20px;

    &.grid-mode {
      top: 55px;
      right: -60px;
    }

    &.list-mode {
    }

    &::before {
      content: "";
      position: absolute;
      border: 20px solid transparent;
      border-bottom: 15px solid #fff;
      top: -30px;
      left: 50%;
      transform: translate(-50%);
    }

    li {
      color: #173236;
      font-family: "Hanken Grotesk", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 1; /* 100% */
      letter-spacing: -0.42px;
      background: #fff;
      padding: 0 20px;
      text-align: start;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        cursor: pointer;
      }
    }

    &__load-btn {
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }

    &__share-btn.share-btn {
      z-index: 1;
      svg {
        margin-right: -7px;
      }

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }

    &__share-btn.share-btn:hover ~ .context-menu {
      opacity: 1;
      pointer-events: all;
    }

    &__rename-btn {
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }

    &__delete-btn {
      &.disabled {
        color: #90a4be;
      }

      &:hover:not(.disabled) {
        opacity: 0.7;
        cursor: pointer;
      }
    }

    .context-menu {
      position: absolute;
      bottom: 70px;
      width: 180px;
      border-radius: 20px;
      background: #fff;
      box-shadow: 0px 10px 40px 0px rgba(23, 50, 54, 0.15);
      padding: 20px;
      box-sizing: border-box;
      opacity: 0;
      pointer-events: none;
      z-index: 3;

      &.grid-mode {
        left: -180px;
      }

      &.list-mode {
        left: -180px;
      }

      &:hover {
        opacity: 1;
        pointer-events: all;
      }

      & > li {
        padding: 0;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        &:hover {
          opacity: 0.7;
        }
      }

      &__open-access-btn {
      }

      &__create-link-btn {
      }
    }
  }
}

@mixin openFilesBtn($marginTop: 20px) {
  .open-files-btn {
    width: max-content;
    height: 40px;
    margin-top: $marginTop;
    border-radius: 30px;
    border: 1px solid #d2e1f5;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }

    .open-files-btn__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 6px;
    }

    .open-file-btn__caption {
      color: #1e1e1e;
      font-family: "Hanken Grotesk", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 1; /* 100% */
      letter-spacing: -0.42px;
    }
  }
}

%fileCardTitle {
  .file-card__title {
    margin: 0;
    color: #000;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
    letter-spacing: -0.42px;
  }
}

@mixin fileCardInfoBlock($marginTop: 70px) {
  .info-block {
    &__caption {
      margin-top: $marginTop;
      margin-bottom: 4px;
      color: #000;
      font-family: "Hanken Grotesk", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 1; /* 100% */
      letter-spacing: -0.42px;
    }

    &__sub-caption {
      margin: 0;
      color: #173236;
      font-family: "Hanken Grotesk", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 14px; /* 116.667% */
      letter-spacing: -0.36px;
    }
  }
}

%fileCardCreateDate {
  .file-card__create-date {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    margin-bottom: 10px;
    color: #1e1e1e;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
  }
}

%folderCardMainBlock {
  .main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;

    &__title {
      margin: 0;
      margin-bottom: 8px;
      color: #000;
      font-family: "Hanken Grotesk", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 1; /* 100% */
      letter-spacing: -0.42px;
      text-wrap: wrap;
      word-wrap: break-word;
    }

    &__direction {
      margin: 0;
      color: #777e90;
      font-family: "Hanken Grotesk", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.16; /* 116.667% */
      letter-spacing: -0.36px;
      text-wrap: wrap;
      word-wrap: break-word;
    }
  }
}

%contentSection {
  .content-section {
    padding-left: 0;

    .file-card {
      &.grid-mode {
        border-radius: 20px;
        border: 1px solid #e5eeff;
        background: #fff;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .file-card__header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;

          span {
            padding-right: 10px;

            @extend %fileCardTitle;

            @extend %fileCardCreateDate;
          }

          @extend %kebabMenuBtn;
        }

        @include fileCardInfoBlock(70px);

        @include openFilesBtn(20px);
      }

      &.list-mode {
        width: auto;
        border-radius: 20px;
        border: 1px solid #e5eeff;
        background: #fff;
        padding: 10px;
        display: grid;
        grid-template-columns: 2.5fr 1.5fr 1fr auto;
        grid-template-rows: 1fr;
        align-items: center;
        gap: 30px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        @extend %fileCardTitle;

        // .file-card__title {
        //   padding-left: 30px
        // }
        @include fileCardInfoBlock(0);
        .file-card__create-date {
          margin-bottom: 0;
        }
        @extend %fileCardCreateDate;
        .end-container {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        @include openFilesBtn(0);
        @extend %kebabMenuBtn;
      }
    }
  }

  .folder-card {
    &.grid-mode {
      border-radius: 20px;
      border: 1px solid #e5eeff;
      background: #fff;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        &__icon {
          padding-left: 10px;
          padding-top: 8px;
        }

        @extend %kebabMenuBtn;
      }

      @extend %folderCardMainBlock;

      @include openFilesBtn(20px);
    }

    &.list-mode {
      width: auto;
      border-radius: 20px;
      border: 1px solid #e5eeff;
      background: #fff;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .folder-card__header-icon {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
      }

      @extend %folderCardMainBlock;
      .main {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 30px;
      }

      .left-container,
      .right-container {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .left-container {
        padding-right: 100px;
      }

      @include openFilesBtn(0);

      @extend %kebabMenuBtn;
    }
  }
}
