@import "./components/navTabsForActivePanels.scss";
@import "./components/activePanels/MyRecords/myRecordsPanel.scss";
// @import "./components/activePanels/MyRecords/components/contentSection.scss";

.medical-archive__container {
  width: auto;
  height: max-content;
  padding: 0 50px;
}
