@import "./components/header.scss";
@import "./components/subHeader.scss";
@import "./components/contentSection.scss";

.medical-archive__container {
  .panel__container {
    background-color: #fff;
    border-radius: 22px;
    padding: 15px 20px 25px;
  }
}
