%contentSection {
  .content-section.local_storage {
    width: auto;
    border-radius: 20px;
    background: #f1f6fa;
    display: flex;
    flex-direction: row;
    margin-top: 55px;
    overflow: hidden;

    .content-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex: 0.8;
      padding: 60px 50px 40px;

      &__title {
        color: #000;
        font-family: "Hanken Grotesk", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1; /* 100% */
        letter-spacing: -0.6px;
        margin: 0;
        margin-bottom: 20px;
      }

      &__main-info {
        color: #333;
        font-family: "Hanken Grotesk", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.428; /* 142.857% */
        letter-spacing: -0.42px;
        margin-bottom: 40px;
      }

      .sub-info {
        &__caption {
          color: #000;
          font-family: "Hanken Grotesk", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 1; /* 100% */
          letter-spacing: -0.42px;
          margin: 0;
          margin-bottom: 20px;
        }

        &__direction {
          color: #000;
          font-family: "Hanken Grotesk", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 1.33;
          letter-spacing: -0.36px;
          margin-bottom: 39px;
        }
      }

      .functional-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;

        button {
          border-radius: 30px;
          background: #1e1e1e;
          padding: 13px 30px;
          color: #fff;
          text-align: center;
          font-family: "Hanken Grotesk", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 1; /* 100% */
          letter-spacing: -0.42px;
          min-width: 120px;
          min-height: 40px;

          &:hover {
            opacity: 0.7;
            cursor: pointer;
          }
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }

    .image-container {
      flex: 1.2;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        mix-blend-mode: darken;
      }
    }
  }
}
